<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <!-- what's seen in the web tab -->
    <title>AWESOMENESS</title>
    <link rel="stylesheet" href="../static/this.css">
    </head>
<!-- HEADER -->
<body>
    <!-- USER DONATION FORM -->
    <form class="for_form_unordered_list" action="change_password" method="post"
          style="border:5px solid #CCCCCC">
        <!-- UserName and PassWord -->
        <div>
        <ul class="for_form_unordered_list">
              
            <li>
                <label>username: </label>
                <input type="text" name="userName">
            </li>
              
            <li>
                <label for="pwd">current password: </label>
                <input type="password" id="pwd" name="current_password">
            </li>
            <li>
                <label for="pwd">NEW password: </label>
                <input type="password" id="pwd" name="new_password">
            </li>
            <!-- User NEW password verified  -->
            <li>
                <label for="pwd">NEW password again: </label>
                <input type="password" id="pwd" name="new_password_again">
            </li>
        </ul>
        <div>
            <input type="submit" name="reset_password" class="submit" 
            value="CHANGE PASSWORD">
            <input type="reset" name="clear_it" class="reset" 
            value="RESET FORM">
        </div>
    </form>
</body></head></html>
    

