<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <!-- what's seen in the web tab -->
    <title>AWESOMENESS</title>
    <link rel="stylesheet" href="../static/this.css">
    </head>
<!-- HEADER -->
    <!-- USER DONATION FORM -->
    <form class="for_form_unordered_list" action="get_login_data" method="post"
          style="border:5px solid #CCCCCC" name="the_user_name">
        <!-- UserName and PassWord -->
        <ul class="for_form_unordered_list">
            <li>
                <label>username: </label>
                <input type="text" name="userName">
            </li>
            <!-- User Email Address -->
            <li>
                <label for="pwd">password: </label>
                <input type="password" id="pwd" name="passWord">
            </li>
        </ul>
        <div>
            <input type="submit" name="all_done" class="submit" 
            value="VALIDATE">
            <input type="reset" name="clear_it" class="reset" 
            value="RESET">
        </div>
    </form>
</body></head></html>
    

